.cvExperience {
    grid-area: experience;
    border-top: solid 5px var(--title-dark);
    display: grid;
    grid-template-rows: 18% 12% 70% ;
    grid-template-columns: 80% 20%;
    grid-template-areas: "title title"
        "detail date"
        "description description"
        ;
    padding: 10px 0;
    gap: 5px 0;
}

.expTitle {
    grid-area: title;
}

.cvDetail {
    grid-area: detail;
}

.detailDate {
    grid-area: date;
}
.cvDate {
    font-family: "UniversLight";
    font-size: 12px;
    font-size: medium;
    font-weight: 300;
}
.expDescription {
    grid-area: description;
}
