:root {
    --show-detail: flex;
    --hide-detail: none;
}
.cvSkills {
    grid-area: skill;
    overflow: hidden;
    border-top: solid #d0d0d0 5px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "sk pr";
    padding: 10px 0;
    gap: 5px 0;
}

.cvSk {
    grid-area: sk;
    transition: all 1s ease;

    display: grid;
    grid-template-rows: 20% 70%;
    grid-template-areas: "skT"
     "skL";


}

.skList {
    grid-area: skL;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
    display: grid;

    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;

}

.sk {
    padding: 5px 0;
    cursor: pointer;

}
.sk img {
    height: 45px;
    background: none;
    
    filter: grayscale(80%);
}

.sk span {
    font-size: 60px;
}


.cvDetailSkills {
    grid-area: pr;
    display: none;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.cvDetailSkills h5 {
    font-size: x-small;
    /* display: v; */
}
/* 
.Js:hover \ .cvDetailSkills {
    display: block;
} */



.cvSk:hover + .cvDetailSkills {
    display: flex;
}