@font-face {
    font-family: "UniversBold";
    src: url("./fonts/Univers/UniversLTStd-Bold.otf");
    font-weight: 600;
}

@font-face {
    font-family: "UniversLight";
    src: url("./fonts/Univers/Univers-light-normal.ttf");
    /* font-weight: 400; */
}
@font-face {
    font-family: "UniversBody";
    src: url("./fonts/Univers/UniversLTStd.otf");
    /* font-weight: 400; */
}
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Kode+Mono:wght@400..700&family=Montserrat:wght@100..900&family=Quicksand:wght@300..700&display=swap');


@media screen and (max-width: 900px) { 

    h1  {
        font-weight: 500 !important;
        font-size: xx-large !important;
    }
    .headerOccupation h2 {
        font-weight: 300 !important;
        font-size: large !important;
    }

    .cvExperience {

        grid-template-areas: "title date"
        "detail detail"
        "description description"
        !important;
    }

    .resume {
        width: 408px !important;
        height: max-content !important;
        grid-template-columns: none !important;
        grid-template-rows: none !important;
        row-gap: 2rem;
        grid-template-areas: "head"
        "contact"
        "objective"
        "experience"
        "education"
        "language"
        "skill" !important;

    }

    section {
        margin-right: 0 !important;
        border-radius: 0 0 10px 10px;
        transition: all 1s ease!important;
    }

    .cvContact {
        justify-content: space-between;
        grid-template-rows: none !important;
    }

    .cvSkills {
        grid-template-columns: none !important;
        grid-template-areas: "sk"
            "pr" !important;
    }

    .cvEducation {
        grid-template-columns: 70% 30% !important;
        grid-template-areas: "title date"
        "detail detail"
        "description description"
        !important;
    }
}


.resume {
    width: 816px;
    height: 1056px;
    margin: 100px 20px;
    padding: 60px 50px; 

    color: var(--icon-dark);
    background-color: var(--page-dark);
    border: solid 2px var(--border-dark);
    border-radius: 5px;
    
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    display: grid;
    grid-template-columns: 35% 65%;
    /* grid-auto-rows: auto; */
    grid-template-rows: 26% 30% 22% 22%;
    grid-template-areas: "head head"
        "contact experience"
        "objective education"
        "language skill";
}



h2, h3, button {
    color: var(--title-dark);
}

h4, h5, li {
    color: var(--text-dark);
}

h2 {
    font-family: "UniversBody";
    font-size: 28px;
    font-weight: 600;
    /* color: #d0d0d0; */
}
h3 {
    text-transform: uppercase;
    font-family: "UniversBody";
    font-size: 16px;
    font-weight: 200;
    /* color: #d0d0d0; */
}
h4, li {
    font-family: "UniversBody";
    font-size: medium;
    letter-spacing: 0.05rem;
    /* color: rgba(215, 215, 215, 0.6); */
    font-weight: 200;
}

h5 {
    font-family: "UniversBody";
    font-weight: 200;
    letter-spacing: 0.05rem;
    /* color: rgba(215, 215, 215, 0.6); */
    
}

li {
    font-size: small;
}
ul {
    display: flex;
    gap: 4px;
    flex-direction: column;
    padding: 8px;
    list-style-type: none;
}
/* 
button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 5px 10px;
    width: 88px;

    font-size: 24px;

    border: none;
    border-radius: 3px 0 0 3px;
    border-left: solid 2px var(--border-dark);
    border-bottom: solid 2px var(--border-dark);
    border-top: solid 2px var(--border-dark);
    
    background-color: var(--page-dark);
} 
*/

section:hover {
    background-color: var(--background-section);
    border-top: solid 10px var(--title-dark);
    
}

.cvContact:hover,
.cvObjective:hover,
.cvLingo:hover {
    box-shadow: var(--shadow-dark) -5px -5px 150px 3px;
    transform: translate3d(0, 2px, 5px);
    padding: 10px;
}

.cvSkills:hover,
.cvExperience:hover,
.cvEducation:hover {
    box-shadow: var(--shadow-dark) 5px 5px 200px 5px;
    transform: translate3d(4px, 2px, 0);
    padding: 10px;
}
.cvHeader:hover {
    box-shadow: var(--shadow-dark) 5px 5px 200px 40px;
    transform: translate3d(4px, 2px, 0);
    border-radius: 0 0 10px 10px;
    padding: 5px;
}
.cvObjective:hover {
    margin-right: 30px;
}

section {
    transition: 0.3s ease-in-out;
}

.pt-Btn, .en-Btn {
    background: none;
    border: black 1px solid;
    color: var(--icon-dark);
    
}

.pt-Btn {
    border: none;
    border-right: 1px solid;
    
}
.en-Btn {
    border: none;
    border-left: 1px solid;

}

.lingo  {
    width: fit-content;
    position: absolute;
    transition: all 1500ms ease;
    top: 1rem;
    right: 1rem;

}

.pt-Btn:active, .en-Btn:active {
    color: var(--background-section);
}



.pt-Btn:hover, .en-Btn:hover {
    color: var(--title-dark);
    cursor: pointer;
}

.active {
    font-weight: 700;
}